language: node_js
node_js:
  - "12"
dist: trusty
sudo: required
branches:
  only:
    - main
before_script:
  - npm install -g @angular/cli
script:
  - ng lint
  - npm run build:ssr
  - run-p bing pa11y
  - npm run pa11yReporter
  # - npm run serve:ssr
  # - pa11y-ci -c ./.pa11yci
